html {
  scroll-behavior: smooth;
}

html * {
  font-family: 'Concert One', cursive;
}

header .nav-link {
  margin-right: 10px;
}

div.positioning {
  position: absolute;
  top: 100px;
}

.square {
  position: relative;
}

.square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

footer {
  margin-bottom: 20px;
}